<div class="row" style="margin-left: 350px; margin-right: 350px">
    <div class="chat-panel panel-default">
        <div class="panel-header">
            <span>@{{username}} - Default Room</span>
        </div>
        <div class="panel-body" scroll-glue="true">
            <ul class="timeline">
                <li ng-repeat="m in messages" ng-class="{'timeline': m.user == username, 'timeline-inverted': m.user != username}">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">{{m.user}}</h4>
                            <p>
                                <small class="text-muted"><i class="fa fa-clock-o"></i>{{m.timestamp | date: 'short'}}</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p ng-if="!m.giphy"> {{m.message}} </p>
                            <img ng-src="{{m.message}}" ng-if="m.giphy">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <input type="text" class="form-control input-sm" placeholder="New Message" ng-model="message" ng-keyup="$event.keyCode == 13 ? sendMessage() : null">
                <span class="input-group-btn">
                    <button class="btn btn-success btn-sm" ng-click="sendMessage()">Send </button>
                </span>
            </div>   
        </div> 
    </div>
</div>      